* {
    padding: 0px;
    margin: 0px;
}

.contenedor-principal {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


/* HEADER */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.by {
    font-size: 30px;
}

.info {
    width: 80%;
    display: grid;
    grid-template-columns: 10% 10% 10%;
    justify-content: space-evenly;
    align-content: center;
}

.info a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}

.wpp {
    margin-left: auto;
    margin-right: auto;
}

.facebook {
    margin-left: auto;
    margin-right: auto;
}

.instagram {
    margin-left: auto;
    margin-right: auto;
}


/* LOGO */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 40%;
}


/* ROLLS CLASICOS */

.rolls-clasicos {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: auto;
    justify-content: center;
    background-color: #a90b19;
    color: rgb(231, 231, 231);
    /* border: 1px solid black; */
    margin: 20px;
    padding: 10px;
}

.titulo {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.roll-individual {
    margin: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-between;
    align-items: center;
}

.precio-p {
    margin: 10px;
    text-align: right;
    /* width: 100px;
    background-color: white;
    padding: 5px;
    color: #a90b19; */
}

.hr {
    width: 80%;
    margin: auto;
}


/* ROLLS ESPECIALES */

.rolls-especiales {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: auto;
    justify-content: center;
    background-color: #a90b19;
    color: rgb(231, 231, 231);
    /* border: 1px solid black; */
    margin: 20px;
    padding: 10px;
}


/* Combos */

.combos-titulo {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: #a90b19;
    color: rgb(231, 231, 231);
    margin: 20px;
    padding: 10px;
}

.combos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-content: center;
}

.combo {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    margin: 20px;
}

.titulo-precio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.evento {
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

footer {
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
}